.cards {
  padding-top: 20px;
}

.cards__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  gap: 40px 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
@media screen and (min-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
.block {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
