.cards {
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166;
}

.cards__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat(3, 1fr);
}
.block {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: 1fr;
  }
}
