/* responsive design */
.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}
.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}
.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
}
.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 8px;
  border: 1px solid #212121;
  border-radius: 8px;
}
.modal__input::placeholder {
  color: #2121214d;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}
.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px;
  background-color: #212121;
  color: #fcf5e5;
}
@media screen and (max-width: 320px) {
  .modal__container {
    padding: 16px 8px;
  }
}
