/* responsive design */
.modal {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}
.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}
.modal__close-btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.12s ease;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
}
.modal__close-btn:hover {
  opacity: 0.8;
}
.modal__close-btn:focus {
  box-shadow: 0 0 0 3px #000;
}
.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 8px;
  border: 1px solid #212121;
  border-radius: 8px;
}
.modal__input::placeholder {
  color: #2121214d;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}
.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px;
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
  transition: background-color 0.12s ease;
}
.modal__submit-btn:hover {
  background-color: #000;
}
@media screen and (max-width: 320px) {
  .modal__container {
    width: 288px;
    height: 274px;
    padding: 16px 8px;
    border-radius: 16px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__close-btn {
    top: 66px;
    right: 8px;
  }
  .modal__input {
    font-size: 16px;
  }
}
